<script>
    var isiTable;
    var struk;
    function setDefault() {
        //salert("Tidak Ada Data",'warning','Warning');
        var d = new Date();
        var curr_date = d.getDate();
        var strDate = "" + curr_date;
        if (strDate.length == 1) {
            strDate = "0" + strDate;
        }
        var curr_month = d.getMonth() + 1;
        var strMonth = "" + curr_month;
        if (strMonth.length == 1) {
            strMonth = "0" + strMonth;
        }
        var curr_year = d.getFullYear();
        $("#t1_tgl_awal").val(curr_year + "-" + strMonth + "-" + strDate);
        $("#t1_tgl_akhir").val(curr_year + "-" + strMonth + "-" + strDate);
    }

    function printStruckPPOBMulti(idx, bit48) {
        //alert(idx);
        if (idx == "06") {
            struk = " <body onload='window.print()'> ";
            struk = struk + " <div class='ticket' > Contoh Pulsa ";
            struk = struk + "     <table border='1' width='100%'> ";
            struk =
                struk +
                "     <tr><td colspan='2'>Waktu Lunas : " +
                bit48.substring(94, 108) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td colspan='2'>Voucher Nominal : " +
                bit48.substring(18, 30) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td colspan='2'>Nomor Telpon : " +
                bit48.substring(4, 8) +
                bit48.substring(8, 18) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td colspan='2'>JPA REF : " +
                bit48.substring(62, 94) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td colspan='2'>Serial Number : " +
                bit48.substring(46, 62) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td colspan='2' style='text-align:center' >BUKTI PEMBAYARAN PEMBELIAN PULSA</td></tr> ";
            struk = struk + "     <tr><td>1</td><td  >	&nbsp;</td></tr> ";
            struk = struk + "     </td></tr> ";
            struk =
                struk +
                "     <tr><td>3</td><td  style='text-align:center' >TERIMA KASIH</td></tr> ";
            struk = struk + "     </table> ";
            struk = struk + " </div> ";
            struk = struk + "</body>  ";
        } else if (idx == "07") {
            struk = " <body onload='window.print()'> "; //PDAM ada 3 Struk
            struk = struk + " <div class='ticket' > Contoh PDAM ";
            struk = struk + "     <table border='1' width='100%'> ";
            struk =
                struk +
                "     <tr><td colspan='2' style='text-align:center' >BUKTI PEMBAYARAN TAGIHAN PDAM</td></tr> ";
            struk = struk + "     <tr><td colspan='2'>&nbsp;</td></tr> ";
            struk =
                struk +
                "     <tr><td>1</td><td>NO REK : " +
                bit48.substring(0, 14) +
                " </td></tr> ";
            struk =
                struk +
                "     <tr><td>1</td><td>RP TAG : " +
                bit48.substring(108, 120) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td>2</td><td>BLN/TH : " +
                bit48.substring(15, 27) +
                " </td></tr> ";
            struk =
                struk +
                "     <tr><td>3</td><td>NAMA : " +
                bit48.substring(27, 57) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td>7</td><td>TANGGAL LUNAS : " +
                bit48.substring(300, 314) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td>9</td><td>JPA REF : " +
                bit48.substring(76, 108) +
                "</td></tr> ";
            struk = struk + "     <tr><td>1</td><td>&nbsp;</td></tr> ";
            struk =
                struk +
                "     <tr><td>2</td><td style='text-align:center' > PDAM menyatakan struk ini sebagai bukti pembayaran yang sah, mohon disimpan.</td> ";
            struk =
                struk +
                "     <tr><td>8</td><td>BIAYA ADMIN : " +
                bit48.substring(120, 128) +
                "</td></tr> ";
            struk =
                struk +
                "     <tr><td>9</td><td>TOTAL BAYAR : " +
                bit48.substring(76, 108) +
                "</td></tr> ";
            struk = struk + "     </td></tr> ";
            struk =
                struk +
                "     <tr><td>3</td><td style='text-align:center' >TERIMA KASIH</td></tr> ";
            struk = struk + "     </table> ";
            struk = struk + " </div> ";
            struk = struk + "</body>  ";
        }
        var newWin = window.frames["printf"];
        newWin.document.body.innerHTML = "";
        newWin.document.write(struk);
        newWin.focus();
        newWin.print();
    }

    function showModal(
        Descripsi,
        Biller,
        Transaksi,
        Tanggal,
        Amount,
        Dibayar,
        Kembalian,
        Bayar,
        Biller_Provider,
        Biller_Status,
        sts
    ) {
        $("#Descripsi").text(Descripsi);
        $("#Biller").text(Biller);
        $("#Transaksi").text(Transaksi);
        $("#Tanggal").text(Tanggal);
        $("#Amount").text(Amount);
        $("#Dibayar").text(Dibayar);
        $("#Kembalian").text(Kembalian);
        $("#Bayar").text(Bayar);
        $("#Biller_Provider").text(Biller_Provider);
        $("#Biller_Status").text(Biller_Status);
        $("#Status").text(sts);
        if (Biller_Status == "SUCCESS") {
            $("#reversal").prop("disabled", true);
            $("#reversal").removeClass("btn btn-danger");
            $("#reversal").addClass("btn btn-secondary");
        } else {
            $("#reversal").prop("disabled", false);
            $("#reversal").removeClass("btn btn-secondary");
            $("#reversal").addClass("btn btn-danger");
        }
        $("#modalPpobDetail").modal("show");
    }

    function Advice() {
        var idx = $("#Descripsi").text();
        hideModal();
        $.ajax({
            url: "https://api-rki.rkicoop.co.id/api/fello",
            type: "POST",
            data: {
                cmd: "felloMultiBillerReversal",
                kop_id: $("#login_kop_id").val(),
                ppob_id: idx,
            },
            dataType: "json",
            success: function (data) {
                //console.log(data);
                if (data.length == 0) {
                    salert("Tidak Ada Data", "warning", "Warning");
                } else {
                    console.log(data);
                    $.ajax({
                        url: "api/fello",
                        type: "POST",
                        data: {
                            cmd: "felloMultiBillerReversalExecute",
                            kop_id: $("#login_kop_id").val(),
                            ppob_id: idx,
                            mti_MessageTypeIdentification: "0220",
                            bit2_PrimaryAccountNumber: data.bit2,
                            bit3_ProcessingCode: "172000",
                            bit4_TransactionAmount: data.bit4,
                            bit7_TransmissionDateTime: data.bit7,
                            bit11_STAN: data.bit11,
                            bit12_LocalTransactionTime: data.bit12,
                            bit13_LocalTransactionDate: data.bit13,
                            bit15_SettlementDate: data.bit15,
                            bit18_MerchantType: data.bit18,
                            bit32_AcquiringInstitutionIdentificationCode:
                                data.bit32,
                            bit37_RetrievalReferenceNumber: data.bit37,
                            //bit39_ResponseCode:,
                            bit41_TerminalID: data.bit41,
                            bit42_AcceptorIdentification: data.bit42,
                            bit48_AdditionalDataPrivate: data.bit48,
                            bit49_TransactionCurrencyCode: data.bit49,
                            bit63_DataLoket: "",
                        },
                        dataType: "json",
                        success: function (data) {
                            //console.log(data);
                            //console.log (data[39])
                            if (data.length == 0) {
                                salert("Tidak Ada Data", "warning", "Warning");
                            } else {
                                console.log(data);
                                if (data[39] != "00") {
                                    salert(
                                        "Ada kendala Dalam Transaksi Dengan Note: " +
                                            data[39],
                                        "danger",
                                        "Error"
                                    );
                                } else {
                                    salert(
                                        "Transaksi Sudah Berhasil Advice Berhasil ",
                                        "success",
                                        "Success"
                                    );
                                    //printStruckPPOBMulti(data[2].substring(0, 2), data[48]);
                                }
                            }
                        },
                    });
                }
            },
        });
    }

    function hideModal() {
        $("#modalPpobDetail").modal("hide");
    }

    function fnInquery() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            swalStartLoading();
            $.post(
                "api/fello",
                {
                    cmd: "selHistoryWalletFello",
                    tgl_awal: $("#t1_tgl_awal").val(),
                    tgl_akhir: $("#t1_tgl_akhir").val(),
                    kop_id: $("#login_kop_id").val(),
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    var c = 1;
                    var b = "";
                    var appYn = "warning";
                    var icon = "";
                    const myArr = JSON.parse(data);
                    //console.log(myArr.length);
                    if (myArr.length == 0) {
                        salert("Tidak Ada Data", "warning", "Warning");
                    } else {
                        for (var i = 0; i < myArr.length; i += 1) {
                            if (myArr[i]["sts"] == "Transaction completed") {
                                appYn = "success";
                                icon = "fa-circle-check";
                            } else {
                                appYn = "warning";
                                icon = "fa-circle-exclamation";
                            }
                            b =
                                b +
                                "<tr  onDblClick=\"Tab2(this,'#tableResult','" +
                                myArr[i]["wallet_id"] +
                                '\')"  onmouseover="changeColor(this,\'#tableResult\');" onmouseout="backColor(this);" >';
                            b = b + " <td>" + c + "</td> ";
                            //b = b + " <td>" + myArr[i]["wallet_id"] + "</td> ";
                            b =
                                b +
                                " <td>" +
                                myArr[i]["traceNumber"] +
                                "</td> ";
                            b = b + " <td>" + myArr[i]["noAccount"] + "</td> ";
                            b = b + " <td>" + myArr[i]["tgl_tran"] + "</td> ";
                            b =
                                b +
                                " <td>" +
                                parseInt(myArr[i]["amount"]).toLocaleString() +
                                "</td> ";
                            b =
                                b +
                                " <td>" +
                                myArr[i]["transactionNumber"] +
                                "</td> ";
                            b =
                                b +
                                " <td class='text-" +
                                appYn +
                                " rounded font-weight-bold' >FELLO</td> ";
                            b =
                                b +
                                " <td class='text-" +
                                appYn +
                                " rounded font-weight-bold' >" +
                                myArr[i]["sts"] +
                                "</td> ";
                            b = b + "</tr>";
                            c = c + 1;
                        }
                        swalFinishLoading();
                    }

                    var table = $("#fix-header").DataTable();
                    table.destroy();
                    document.getElementById("tableResult").innerHTML = b;
                    isiTable = b;
                    $("#fix-header").DataTable({
                        fixedHeader: true,
                    });
                }
            ).fail(function (e) {
                console.log(e);
                swalFinishLoading();
            });
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function fnSave() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function fnNew() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            //salert("Not Setting Tab 2!", 'warning', 'Warning');
            clearForm();
        }
    }

    function fnDelete() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function fnPrint() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }
</script>
<!-- Row start -->
<div class="row" id="start">
    <div class="col-12">
        <!-- Nav tabs -->
        <ul
            class="nav nav-tabs md-tabs"
            role="tablist"
            style="display: flex !important"
        >
            <li class="nav-item" style="width: calc(100% / 2.1) !important">
                <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#query"
                    role="tab"
                    id="tab_query"
                >
                    <i class="icofont icofont-search"></i>&nbsp; Data From Core
                </a>
                <div class="slide"></div>
            </li>
            <li class="nav-item" style="width: calc(100% / 2.1) !important">
                <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#query1"
                    role="tab"
                    id="tab_query1"
                >
                    <i class="icofont icofont-search"></i>&nbsp; Data From
                    Mobile</a
                >
                <div class="slide"></div>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div
                name="tab-idx"
                class="tab-pane active"
                id="query"
                role="tabpanel"
            >
                <div class="row mt-2">
                    <div class="col-sm-6">
                        <div class="form-group row frm_grp">
                            <label class="col-sm-4 col-form-label text-right"
                                >Tanggal Awal</label
                            >
                            <div class="col-sm-8">
                                <input
                                    type="date"
                                    id="t1_tgl_awal"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row frm_grp">
                            <label class="col-sm-4 col-form-label text-right"
                                >Tanggal Akhir</label
                            >
                            <div class="col-sm-8">
                                <input
                                    type="date"
                                    id="t1_tgl_akhir"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Basic Header fix table start -->
                    <div class="col-12">
                        <div class="card card-block">
                            <div
                                class="dt-responsive table-responsive"
                                id="cardBlock"
                            >
                                <table
                                    id="fix-header"
                                    class="table table-striped table-bordered nowrap"
                                >
                                    <thead class="bg-rki">
                                        <tr id="tableHeader" class="text-white">
                                            <td>No</td>
                                            <td>traceNumber</td>
                                            <td>No Account</td>
                                            <td>Tanggal Transaksi</td>
                                            <td>Amount</td>
                                            <td>transactionNumber</td>
                                            <td>Provider</td>
                                            <td>Status Provider</td>
                                        </tr>
                                    </thead>
                                    <tbody id="tableResult"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Basic Header fix table end -->
                    </div>
                </div>
            </div>

            <div name="tab-idx" class="tab-pane" id="query1" role="tabpanel">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- Parameter Section 1 -->
                        <div class="form-group row frm_grp">
                            <label class="col-sm-4 col-form-label text-right"
                                >Tanggal Awal</label
                            >
                            <div class="col-sm-8">
                                <input
                                    type="date"
                                    id="t2_tgl_awal"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row frm_grp">
                            <label class="col-sm-4 col-form-label text-right"
                                >Tanggal Akhir</label
                            >
                            <div class="col-sm-8">
                                <input
                                    type="date"
                                    id="t2_tgl_akhir"
                                    class="form-control"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row frm_grp"></div>
                    </div>
                </div>

                <div class="row">
                    <!-- Basic Header fix table start -->
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header"
                                style="padding: 0.4rem 0.1rem !important"
                            >
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li>
                                            <i
                                                class="feather icon-minimize full-card"
                                                onclick="gridAll();"
                                            ></i>
                                        </li>
                                        <li>
                                            <i
                                                class="feather icon-maximize full-card"
                                                onclick="openAll();"
                                            ></i>
                                        </li>
                                        <li>
                                            <i
                                                class="feather icon-download full-card"
                                                onclick="exportExcel();"
                                            ></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div
                                    class="dt-responsive table-responsive"
                                    id="cardBlock"
                                >
                                    <table
                                        id="fix-header1"
                                        class="table table-striped table-bordered nowrap"
                                    >
                                        <thead class="bg-rki">
                                            <tr
                                                id="tableHeader1"
                                                class="text-white"
                                            >
                                                <td>No</td>
                                                <td>Descripsi</td>
                                                <td>Transaksi</td>
                                                <td>Tanggal</td>
                                                <td>Amount</td>
                                                <td>Dibayar</td>
                                                <td>Kembalian</td>
                                                <td>Bayar</td>
                                                <td>Approve</td>
                                                <td>Verify</td>
                                                <td>Biller Provider</td>
                                                <td>Biller Status</td>
                                                <!--<td>Action</td>-->
                                            </tr>
                                        </thead>
                                        <tbody id="tableResult1"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Basic Header fix table end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modalPpobDetail">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <span style="font-weight: bold">Detail PPOB</span>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 col-sm-6">
                        Descripsi : <span id="Descripsi">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Biller : <span id="Biller">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Transaksi : <span id="Transaksi">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Tanggal : <span id="Tanggal">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Amount : <span id="Amount">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Dibayar : <span id="Dibayar">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Kembalian : <span id="Kembalian">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Bayar : <span id="Bayar">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Biller Provider :
                        <span id="Biller_Provider">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Biller Status : <span id="Biller_Status">&nbsp;</span>
                    </div>
                    <div class="col-12 col-md-6 col-sm-6">
                        Status : <span id="Status">&nbsp;</span>
                    </div>
                    <div class="col-12 text-center mt-2">
                        <button class="btn btn-success rounded" id="reprint">
                            <i class="fa-solid fa-print"></i>&nbsp;&nbsp;
                            Reprint
                        </button>
                        <button
                            class="btn btn-warning rounded"
                            id="advice"
                            onclick="Advice()"
                        >
                            <i class="fa-solid fa-circle-question"></i
                            >&nbsp;&nbsp;Advice
                        </button>
                        <button
                            class="btn btn-danger rounded"
                            id="reversal"
                            onclick="Reversal()"
                        >
                            <i class="fa-solid fa-clock-rotate-left"></i
                            >&nbsp;&nbsp;Reversal
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe id="printf" name="printf" style="display: none"></iframe>
