<script>
    var isiTable;

    function setDefault() {
        //salert("Tidak Ada Data",'warning','Warning');
        //selFacCd();
    }

    function clearForm() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            $("#t2_useYn").removeAttr("readonly");
            $("#t2_namaKoperasi").removeAttr("readonly");
            $("#t2_kopId").removeAttr("readonly");
            $("#t2_detailIdx").removeAttr("readonly");
            $("#t2_detailDesc").removeAttr("readonly");
            $("#t2_detailName2").removeAttr("readonly");
            $("#t2_detailName").removeAttr("readonly");
            $("#t2_detailCode").removeAttr("readonly");
            $("#t2_detailCode").attr("readonly", "readonly");
            $("#t2_detailIdx").attr("readonly", "readonly");

            //clear
            $("#t2_detailIdx").val("");
            $("#t2_detailDesc").val("");
            $("#t2_detailName2").val("");
            $("#t2_detailName").val("");
            $("#t2_detailCode").val("");

            //getNUmber();
        }
    }

    function fnInquery() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            //alert($("#t1_date").val().length);

            if ($("#t1_date").val().length == 0) {
                salert("Harap isi tanggal dahulu ! ", "warning", "Warning");
                return;
            }

            swalStartLoading();
            $.post(
                "https://api-rki.rkicoop.co.id/api/pos/QueryPos",
                {
                    cmd: "selDataBarangInventory",
                    kop_id: $("#login_kop_id").val(),
                    barcode: "",
                    date: $("#t1_date").val(),
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    var c = 1;
                    var b = "";
                    const myArr = JSON.parse(data);
                    if (myArr.length == 0) {
                        salert("Tidak Ada Data", "warning", "Warning");
                    } else {
                        for (var i = 0; i < myArr.length; i += 1) {
                            b =
                                b +
                                "<tr  onDblClick=\"Tab2(this,'#tableResult','" +
                                myArr[i]["masterCode"] +
                                '\')"  onmouseover="changeColor(this,\'#tableResult\');" onmouseout="backColor(this);" >';
                            b = b + " <td>" + c + "</td> ";
                            b = b + " <td>" + myArr[i]["idx"] + "</td> ";
                            b =
                                b +
                                " <td>" +
                                myArr[i]["nama_barang"] +
                                "</td> ";
                            b = b + " <td>" + myArr[i]["beginQty"] + "</td> ";
                            b = b + " <td>" + myArr[i]["inQty"] + "</td> ";
                            b = b + " <td>" + myArr[i]["outQtyPos"] + "</td> ";
                            b = b + " <td>" + myArr[i]["outQtyDo"] + "</td> ";
                            b = b + " <td>" + myArr[i]["endQty"] + "</td> ";
                            b =
                                b +
                                " <td>" +
                                parseInt(
                                    myArr[i]["harga_jual"]
                                ).toLocaleString() +
                                "</td> ";
                            b =
                                b +
                                " <td>" +
                                parseInt(
                                    parseInt(myArr[i]["harga_jual"]) *
                                        parseInt(myArr[i]["endQty"])
                                ).toLocaleString() +
                                "</td> ";
                            //b = b + " <td>" + myArr[i]["nama_koperasi"] + "</td> ";
                            b = b + "</tr>";
                            c = c + 1;
                        }
                    }
                    swalFinishLoading();
                    var table = $("#fix-header").DataTable();
                    table.destroy();
                    document.getElementById("tableResult").innerHTML = b;
                    isiTable = b;
                    $("#fix-header").DataTable({
                        fixedHeader: true,
                    });
                }
            ).fail(function (e) {
                console.log(e);
                swalFinishLoading();
            });
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function fnSave() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        }
    }

    function fnNew() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            //salert("Not Setting Tab 2!", 'warning', 'Warning');
            clearForm();
        }
    }

    function fnDelete() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function fnPrint() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Not Setting Tab 1!", "warning", "Warning");
        } else if (a[1].className.search("active") > 0) {
            salert("Not Setting Tab 2!", "warning", "Warning");
        }
    }

    function exportExcel() {
        //alert("tab");
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Download Excel", "info", "Info");
            downloadExcell("#tableHeader", isiTable);
        } else if (a[1].className.search("active") > 0) {
            alert("Not Setting Tab 1!");
        }
    }

    function openAll() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Maximum View", "info", "Info");
            openAllGrid("#fix-header", "#cardBlock", "#tableResult", isiTable);
        } else if (a[1].className.search("active") > 0) {
            alert("Not Setting Tab 1!");
        }
    }

    function gridAll() {
        var a = document.getElementsByName("tab-idx");
        if (a[0].className.search("active") > 0) {
            salert("Minimum View", "info", "Info");
            minimizeAllGrid("#fix-header", "#tableResult", isiTable);
        } else if (a[1].className.search("active") > 0) {
            alert("Not Setting Tab 1!");
        }
    }
</script>
<!-- Row start -->
<div class="row" id="start">
    <div class="col-12">
        <!-- Nav tabs -->
        <ul
            class="nav nav-tabs md-tabs"
            role="tablist"
            style="display: flex !important"
        >
            <li class="nav-item" style="width: calc(100% / 2.1) !important">
                <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#query"
                    role="tab"
                    id="tab_query"
                >
                    <i class="icofont icofont-search"></i>&nbsp; View Data
                </a>
                <div class="slide"></div>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content card-block">
            <div
                name="tab-idx"
                class="tab-pane active"
                id="query"
                role="tabpanel"
            >
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group row frm_grp">
                            <label
                                class="col-sm-4 col-form-label text-right txt_hris"
                                >Tanggal</label
                            >
                            <div class="col-sm-8">
                                <input
                                    type="month"
                                    id="t1_date"
                                    value=""
                                    class="form-control txt_hris"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group row frm_grp"></div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <!-- Basic Header fix table start -->
                    <div class="col-12">
                        <div class="card">
                            <div
                                class="card-header"
                                style="padding: 0.4rem 0.1rem !important"
                            >
                                <div class="card-header-right">
                                    <ul class="list-unstyled card-option">
                                        <li>
                                            <i
                                                class="feather icon-minimize full-card"
                                                onclick="gridAll();"
                                            ></i>
                                        </li>
                                        <li>
                                            <i
                                                class="feather icon-maximize full-card"
                                                onclick="openAll();"
                                            ></i>
                                        </li>
                                        <li>
                                            <i
                                                class="feather icon-download full-card"
                                                onclick="exportExcel();"
                                            ></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-block">
                                <div
                                    class="dt-responsive table-responsive"
                                    id="cardBlock"
                                >
                                    <table
                                        id="fix-header"
                                        class="table table-striped table-bordered nowrap"
                                    >
                                        <thead class="bg-rki">
                                            <tr
                                                id="tableHeader"
                                                class="text-white"
                                            >
                                                <td>No</td>
                                                <td>Kode Barang</td>
                                                <td>Nama Barang</td>
                                                <td>Begin Stock</td>
                                                <td>In Qty</td>
                                                <td>Out Qty Pos</td>
                                                <td>Out Qty Do</td>
                                                <td>End Qty</td>
                                                <td>Harga</td>
                                                <td>Amount</td>
                                                <!-- <td>Koperasi</td> -->
                                            </tr>
                                        </thead>
                                        <tbody id="tableResult"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
